In [2]:
import pandas as pd
from datetime import datetime
import json

In [10]:
# Load Data Collection csv file
df = pd.read_csv("cleaned_spotify_data.csv")

In [11]:
df.head()

,ts,platform,ms_played,conn_country,ip_addr,master_metadata_track_name,master_metadata_album_artist_name,master_metadata_album_album_name,spotify_track_uri,episode_name,...,audiobook_uri,audiobook_chapter_uri,audiobook_chapter_title,reason_start,reason_end,shuffle,skipped,offline,offline_timestamp,incognito_mode
0,2024-03-08T01:13:32Z,osx,135126,TT,190.213.182.196,DANGEROUS,BRONZE AVERY,DANGEROUS,spotify:track:00PDGvlxB9SNJkDI6VL7HF,NaN,...,NaN,NaN,NaN,trackdone,trackdone,False,False,False,1709860276,False
1,2024-03-08T01:15:48Z,osx,135126,TT,190.213.182.196,DANGEROUS,BRONZE AVERY,DANGEROUS,spotify:track:00PDGvlxB9SNJkDI6VL7HF,NaN,...,NaN,NaN,NaN,trackdone,trackdone,False,False,False,1709860412,False
2,2024-03-08T01:18:03Z,osx,135126,TT,190.213.182.196,DANGEROUS,BRONZE AVERY,DANGEROUS,spotify:track:00PDGvlxB9SNJkDI6VL7HF,NaN,...,NaN,NaN,NaN,trackdone,trackdone,False,False,False,1709860548,False
3,2024-03-08T01:20:19Z,osx,135126,TT,190.213.182.196,DANGEROUS,BRONZE AVERY,DANGEROUS,spotify:track:00PDGvlxB9SNJkDI6VL7HF,NaN,...,NaN,NaN,NaN,trackdone,trackdone,False,False,False,1709860683,False
4,2024-03-08T01:22:34Z,osx,135126,TT,190.213.182.196,DANGEROUS,BRONZE AVERY,DANGEROUS,spotify:track:00PDGvlxB9SNJkDI6VL7HF,NaN,...,NaN,NaN,NaN,trackdone,trackdone,False,False,False,1709860819,False

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25430 entries, 0 to 25429
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   ts                                 25430 non-null  object
 1   platform                           25430 non-null  object
 2   ms_played                          25430 non-null  int64
 3   conn_country                       25430 non-null  object
 4   ip_addr                            25430 non-null  object
 5   master_metadata_track_name         25419 non-null  object
 6   master_metadata_album_artist_name  25419 non-null  object
 7   master_metadata_album_album_name   25419 non-null  object
 8   spotify_track_uri                  25419 non-null  object
 9   episode_name                       11 non-null     object
 10  episode_show_name                  11 non-null     object
 11  spotify_episode_uri                11 non-null     object
 12  audiobook_title                    0 non-null      float64
 13  audiobook_uri                      0 non-null      float64
 14  audiobook_chapter_uri              0 non-null      float64
 15  audiobook_chapter_title            0 non-null      float64
 16  reason_start                       25430 non-null  object
 17  reason_end                         25430 non-null  object
 18  shuffle                            25430 non-null  bool
 19  skipped                            25430 non-null  bool
 20  offline                            25430 non-null  bool
 21  offline_timestamp                  25430 non-null  int64
 22  incognito_mode                     25430 non-null  bool
dtypes: bool(4), float64(4), int64(2), object(13)
memory usage: 3.8+ MB

In [13]:
df.describe(include='all')

,ts,platform,ms_played,conn_country,ip_addr,master_metadata_track_name,master_metadata_album_artist_name,master_metadata_album_album_name,spotify_track_uri,episode_name,...,audiobook_uri,audiobook_chapter_uri,audiobook_chapter_title,reason_start,reason_end,shuffle,skipped,offline,offline_timestamp,incognito_mode
count,25430,25430,25430.000000,25430,25430,25419,25419,25419,25419,11,...,0.0,0.0,0.0,25430,25430,25430,25430,25430,2.543000e+04,25430
unique,25395,2,NaN,2,676,3051,825,1997,3553,7,...,NaN,NaN,NaN,9,10,2,2,2,NaN,1
top,2024-04-11T22:35:11Z,osx,NaN,US,190.213.182.196,Eye to Eye,Waterparks,FANDOM,spotify:track:7CJPpFCOWOiJGIIPxF28G9,SOCA IS THE MISSION. - TRINIDAD CARNIVAL 2024 ...,...,NaN,NaN,NaN,trackdone,trackdone,False,False,False,NaN,False
freq,2,16551,NaN,12938,11326,443,2934,702,337,3,...,NaN,NaN,NaN,21898,22000,13860,22697,25405,NaN,25430
mean,NaN,NaN,170733.831184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.733866e+09,NaN
std,NaN,NaN,66604.448739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.237384e+07,NaN
min,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.709860e+09,NaN
25%,NaN,NaN,152195.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.722699e+09,NaN
50%,NaN,NaN,180715.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.733958e+09,NaN
75%,NaN,NaN,207345.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.744731e+09,NaN
max,NaN,NaN,788839.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.752781e+09,NaN

In [14]:
df.isnull().sum()

ts                                       0
platform                                 0
ms_played                                0
conn_country                             0
ip_addr                                  0
master_metadata_track_name              11
master_metadata_album_artist_name       11
master_metadata_album_album_name        11
spotify_track_uri                       11
episode_name                         25419
episode_show_name                    25419
spotify_episode_uri                  25419
audiobook_title                      25430
audiobook_uri                        25430
audiobook_chapter_uri                25430
audiobook_chapter_title              25430
reason_start                             0
reason_end                               0
shuffle                                  0
skipped                                  0
offline                                  0
offline_timestamp                        0
incognito_mode                           0
dtype: int64

There are 11 tracks and over 25K audiobook/podcast episodes missing.
First, let's drop the columns we don't need, and then decide what to do with the null-valued tracks.

In [16]:
# Removing columns relating to episodes, and the IP address.
df = df.drop(['episode_name', 'episode_show_name', 'spotify_episode_uri', 'audiobook_title', 'audiobook_uri', 'audiobook_chapter_uri', 'audiobook_chapter_title', 'ip_addr'], axis=1, errors='ignore')
df.head()

,ts,platform,ms_played,conn_country,master_metadata_track_name,master_metadata_album_artist_name,master_metadata_album_album_name,spotify_track_uri,reason_start,reason_end,shuffle,skipped,offline,offline_timestamp,incognito_mode
0,2024-03-08T01:13:32Z,osx,135126,TT,DANGEROUS,BRONZE AVERY,DANGEROUS,spotify:track:00PDGvlxB9SNJkDI6VL7HF,trackdone,trackdone,False,False,False,1709860276,False
1,2024-03-08T01:15:48Z,osx,135126,TT,DANGEROUS,BRONZE AVERY,DANGEROUS,spotify:track:00PDGvlxB9SNJkDI6VL7HF,trackdone,trackdone,False,False,False,1709860412,False
2,2024-03-08T01:18:03Z,osx,135126,TT,DANGEROUS,BRONZE AVERY,DANGEROUS,spotify:track:00PDGvlxB9SNJkDI6VL7HF,trackdone,trackdone,False,False,False,1709860548,False
3,2024-03-08T01:20:19Z,osx,135126,TT,DANGEROUS,BRONZE AVERY,DANGEROUS,spotify:track:00PDGvlxB9SNJkDI6VL7HF,trackdone,trackdone,False,False,False,1709860683,False
4,2024-03-08T01:22:34Z,osx,135126,TT,DANGEROUS,BRONZE AVERY,DANGEROUS,spotify:track:00PDGvlxB9SNJkDI6VL7HF,trackdone,trackdone,False,False,False,1709860819,False

In [17]:
# Dropping the missing track
df.dropna(inplace=True)
df.isnull().sum()

ts                                   0
platform                             0
ms_played                            0
conn_country                         0
master_metadata_track_name           0
master_metadata_album_artist_name    0
master_metadata_album_album_name     0
spotify_track_uri                    0
reason_start                         0
reason_end                           0
shuffle                              0
skipped                              0
offline                              0
offline_timestamp                    0
incognito_mode                       0
dtype: int64

Now, we will convert the timestamps and filter out songs played for less than 30 seconds

In [18]:
# Converting the timestamps
df['ts'] = pd.to_datetime(df['ts'])
df['hour'] = df['ts'].dt.hour
df['day'] = df['ts'].dt.day_name()
df['month'] = df['ts'].dt.to_period('M')

# Inspecting the duration played and filtering out any streams less than 30s
df['minutes_played'] = df['ms_played'] / (1000 * 60)
df = df[df['minutes_played'] > 0.5]

# Creating a column that combines the track name and its artist's name
df['track_artist'] = df['master_metadata_track_name'] + " - " + df['master_metadata_album_artist_name']

df.head()

/var/folders/tn/03hrzbv55kg8k2w5s32rkjw80000gn/T/ipykernel_43301/284835270.py:5: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df['month'] = df['ts'].dt.to_period('M')

,ts,platform,ms_played,conn_country,master_metadata_track_name,master_metadata_album_artist_name,master_metadata_album_album_name,spotify_track_uri,reason_start,reason_end,shuffle,skipped,offline,offline_timestamp,incognito_mode,hour,day,month,minutes_played,track_artist
0,2024-03-08 01:13:32+00:00,osx,135126,TT,DANGEROUS,BRONZE AVERY,DANGEROUS,spotify:track:00PDGvlxB9SNJkDI6VL7HF,trackdone,trackdone,False,False,False,1709860276,False,1,Friday,2024-03,2.2521,DANGEROUS - BRONZE AVERY
1,2024-03-08 01:15:48+00:00,osx,135126,TT,DANGEROUS,BRONZE AVERY,DANGEROUS,spotify:track:00PDGvlxB9SNJkDI6VL7HF,trackdone,trackdone,False,False,False,1709860412,False,1,Friday,2024-03,2.2521,DANGEROUS - BRONZE AVERY
2,2024-03-08 01:18:03+00:00,osx,135126,TT,DANGEROUS,BRONZE AVERY,DANGEROUS,spotify:track:00PDGvlxB9SNJkDI6VL7HF,trackdone,trackdone,False,False,False,1709860548,False,1,Friday,2024-03,2.2521,DANGEROUS - BRONZE AVERY
3,2024-03-08 01:20:19+00:00,osx,135126,TT,DANGEROUS,BRONZE AVERY,DANGEROUS,spotify:track:00PDGvlxB9SNJkDI6VL7HF,trackdone,trackdone,False,False,False,1709860683,False,1,Friday,2024-03,2.2521,DANGEROUS - BRONZE AVERY
4,2024-03-08 01:22:34+00:00,osx,135126,TT,DANGEROUS,BRONZE AVERY,DANGEROUS,spotify:track:00PDGvlxB9SNJkDI6VL7HF,trackdone,trackdone,False,False,False,1709860819,False,1,Friday,2024-03,2.2521,DANGEROUS - BRONZE AVERY

Now, we need to filter our dataframe to be Jan-July 2025 rather than starting from March 2024.

In [19]:
wrapped_df = df[df['ts'].dt.year == 2025]
wrapped_df.head()

,ts,platform,ms_played,conn_country,master_metadata_track_name,master_metadata_album_artist_name,master_metadata_album_album_name,spotify_track_uri,reason_start,reason_end,shuffle,skipped,offline,offline_timestamp,incognito_mode,hour,day,month,minutes_played,track_artist
13230,2025-01-01 05:11:45+00:00,osx,158443,TT,deja vu,Olivia Rodrigo,SOUR,spotify:track:6HU7h9RYOaPRFeh0R3UeAr,trackdone,endplay,False,True,False,1735679560,False,5,Wednesday,2025-01,2.640717,deja vu - Olivia Rodrigo
13231,2025-01-01 05:14:52+00:00,osx,188306,TT,Crash My Car,COIN,Dreamland,spotify:track:5SN3mwuodiwY3jPejBuUD5,clickrow,trackdone,False,False,False,1735708304,False,5,Wednesday,2025-01,3.138433,Crash My Car - COIN
13232,2025-01-01 05:18:50+00:00,osx,177280,TT,Everybody Talks,Neon Trees,Picture Show,spotify:track:2iUmqdfGZcHIhS3b9E9EWq,trackdone,trackdone,False,False,False,1735708522,False,5,Wednesday,2025-01,2.954667,Everybody Talks - Neon Trees
13233,2025-01-01 05:22:13+00:00,osx,202496,TT,She Looks So Perfect,5 Seconds of Summer,5 Seconds Of Summer,spotify:track:1CQ2cMfrmFM1YdfmjENKVE,trackdone,trackdone,False,False,False,1735708730,False,5,Wednesday,2025-01,3.374933,She Looks So Perfect - 5 Seconds of Summer
13234,2025-01-01 05:25:51+00:00,osx,218013,TT,Tongue Tied,GROUPLOVE,Never Trust a Happy Song,spotify:track:0GO8y8jQk1PkHzS31d699N,trackdone,trackdone,False,False,False,1735708933,False,5,Wednesday,2025-01,3.633550,Tongue Tied - GROUPLOVE

Lastly, we need to remove the duplicate values as for Spotify Wrapped, they likely groups plays per track but deduplicate certain edge cases (e.g., replays). And, we know I have a lot of those.

In [20]:
wrapped_df.duplicated().sum()
wrapped_df = wrapped_df.drop_duplicates()

In [21]:
wrapped_df.to_csv("prepared_spotify_data.csv", index=False)